body {
  align-items: center;
  background: var(--bg-color);
  color: var(--text-color);
  font-family: "Manrope", sans-serif;
  font-feature-settings: "calt", "liga";
  margin: 0%;
  max-width: 100vw;
  overflow-x: hidden;
  padding: 0%;
  width: 100vw;
}

.profile {
  background: var(--background-image) center center;
  background-repeat: no-repeat;
  background-size: cover !important;
  color: #fff !important;
  display: flex;
  flex-direction: column;
  height: 92vh;
  justify-content: center;
  padding: 4vh 3vw;
  position: fixed;
  text-align: left;
  width: 24vw;
}

.display {
  display: inline-block;
  height: 92vh;
  padding: 4vh 3vw;
  padding-left: 33vw;
  width: 64vw;
}

.display h1 {
  color: var(--text-color);
  font-family: "Asap", sans-serif;
  font-size: 50px;
  font-weight: bold;
}

.emoji {
  height: 18px;
  width: 18px;
}

.footer {
  padding: 8vh 0;
  text-align: center;
  width: 100%;
}

.footer a {
  color: var(--text-color) !important;
  font-family: "Manrope", sans-serif;
  font-weight: bold;
  text-decoration: none;
}

.profile_img {
  animation: grad 8s ease infinite;
  background: var(--gradient);
  background-size: 300% 300%;
  font-family: "Asap Condensed", sans-serif;
  font-size: 128px;
  height: 180px;
  transition: background 0.5s ease;
  width: 180px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@keyframes grad {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

.profile div {
  font-weight: bold;
  margin: 1.5vh 0;
}

.hidden {
  opacity: 0;
}

#username {
  color: white;
  font-family: "Asap Condensed", sans-serif;
  font-size: 18px;
}

.bottom_section span {
  font-weight: bold;
  margin-right: 20px;
}

.socials span {
  display: inline-block !important;
  font-weight: normal !important;
  margin-right: 2vw !important;
}

#username span {
  font-family: "Asap Condensed", sans-serif;
  font-size: 24px;
}

.console-underscore {
  display: inline-block;
  left: 10px;
  position: relative;
  top: -0.14em;
}

#userbio {
  font-family: "Asap", sans-serif;
  font-size: 26px;
  width: 100%;
}

#about {
  font-family: "Asap", sans-serif;
  font-size: 18px;
}

.projects a {
  display: flex;
  text-decoration: none;

  /* 30px is the gutter size in magic grid */
  width: calc(49% - 30px);

  /* 49% avoids a weird single column on some wide screens */
}

.socials span a {
  font-weight: normal !important;
}

#about a,
#username a {
  color: #fff !important;
  font-weight: bold;
  text-decoration: none;
}

#about a:hover,
#username a:hover {
  text-decoration: underline;
}

#about span {
  display: block;
  margin: 1vh 0;
}

.bottom_section span i {
  font-size: 15px;
}

#about span i {
  font-size: 16px;
}

#work {
  margin: 2vh 0;
  padding: 4vh 0 !important;
}

#forks {
  margin: 2vh 0;
  padding: 4vh 0 !important;
}

.projects {
  margin-left: -15px;

  /* align section w/ heading above */
}

.projects section {
  border: 1px solid rgb(0, 0, 0, 0.08);
  border-radius: 5px;
  box-shadow: 0 0 0 rgb(0, 0, 0, 0);
  color: var(--text-color);
  display: inline-block;
  margin: 1vh 0;
  padding: 2.5vh 5%;
  transform: scale(1);
  transition: 0.4s ease-in-out;
  width: 100%;
}

.projects section:hover {
  border: 1px solid rgb(0, 0, 0, 0);
  box-shadow: 0 15px 35px rgb(0, 0, 0, 0.06);
  cursor: pointer;
  transform: scale(1.03);
}

.section_title {
  font-size: 24px;
  font-weight: bold;
  margin: 1vh 0;
  padding: 0 1px;
  word-wrap: break-word;
}

.about_section {
  font-family: "Asap", sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin: 2vh 0;
  word-wrap: break-word;
}

.bottom_section {
  font-size: 14px;
  margin: 1vh 0;
  word-wrap: break-word;
}

.socials {
  color: #fff;
  margin: 3vh 0 !important;
  text-decoration: none;
}

::selection {
  background: var(--text-color);
  color: var(--bg-color);
}

@media (max-width: 800px) {
  .profile {
    height: 60vh;
    padding: 4vh 5vw;
    position: relative;
    text-align: center;
    width: 90vw;
  }

  .display {
    display: inline-block;
    height: auto;
    padding: 4vh 5vw;
    padding-left: 5vw;
    width: 90vw;
  }

  .profile_img {
    animation: grad 8s ease infinite;
    background: var(--gradient);
    background-size: 300% 300%;
    font-family: "Asap Condensed", sans-serif;
    font-size: 128px;
    margin: 0 auto !important;
    transition: background 0.5s ease;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  @keyframes grad {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }

  #work {
    margin: 0;
  }

  .projects {
    margin-left: 0;

    /* remove neg margin to align w/ header */
  }

  .projects a {
    width: 100%;
  }

  .projects section {
    width: 88%;
  }
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-track {
  background: var(--bg-color);
}

::-webkit-scrollbar-thumb {
  background: var(--text-color);
}

/* Iconify */

.iconify {
  font-size: 24px;
  line-height: 14px;
}
:root {
  --bg-color: rgb(10, 10, 10);
  --text-color: #fff;
  --background-image: linear-gradient(
      90deg,
      rgba(10, 10, 10, 0.3),
      rgb(10, 10, 10, 1)
    ),
    url("https://source.unsplash.com/1280x720/?wallpaper");
  --background-background: linear-gradient(
      0deg,
      rgba(10, 10, 10, 1),
      rgba(10, 10, 10, 0.6)
    ),
    url("https://source.unsplash.com/1280x720/?wallpaper") center center fixed;
  --height: 50vh;
  --gradient: linear-gradient(90deg, #009bef, #f00);
}

#display h1 {
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: #fff;
}

.projects section {
  background: rgb(20, 20, 20);
}

@media (max-width: 800px) {
  :root {
    --background-image: linear-gradient(
        0deg,
        rgba(10, 10, 10, 1),
        rgba(10, 10, 10, 0)
      ),
      url("https://source.unsplash.com/1280x720/?wallpaper") !important;
  }
}
